body{
  background-color: bisque;
}
.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
  color: rgb(255, 121, 38);
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}
.add-btn{
  background-color: greenyellow;
}
.add-btn:hover{
  background-color: green;
}

.delete-btn{
  background-color: rgb(173, 41, 1);
}
.delete-btn:hover{
  background-color: rgb(246, 4, 0);
}

.move-btn{
  background-color: rgb(47, 175, 255);
}
.move-btn:hover{
  background-color: rgb(0, 47, 128);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  color: black;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: whitesmoke;
  margin-bottom: 10px;
  border: 3px solid gray;
  border-radius:5px ;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-btn,.move-btn{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}